html,
body,
h1,
h2,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif, Arial, Helvetica;
    color: #757575;
}

.name_image {
    color: #d6d4d4;
}

.text_colour {
    color:#d6d4d4
}
.bz{
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

h3 {
    font-family: "Roboto", sans-serif, Arial, Helvetica;
    color: #757575;
    font-size: 24px !important;
    margin-bottom: 15px !important; 
}
p,a {
    color: #757575;
    font-size: 13px;
    font-family: "Roboto", sans-serif, Arial, Helvetica;
}

.p{
    color: #757575;
    font-size: 13px;
    font-family: "Roboto", sans-serif, Arial, Helvetica;
    margin-bottom: 20px;
}
.a{
    color: #757575;
    font: 13px;
    font-family: "Roboto", sans-serif, Arial, Helvetica;
}
.body_colour {
    background-color: #181818 ;
}
.body_colour_light {
    background-color: #f1f1f1 ;

}
.main_photo {
    width: 100%;
}

.hr {
    border-color: #757575!important;
  }
.hr_light {
    border-color: #b9b6b6 !important;
  }

.blocks_format{
    background-color: #313131;
    padding: 0!important;
}

.blocks_format_light{
    background-color: #ffffff;
    padding: 0!important;

}

.links {
    text-decoration: none;
    color:#757575;
    margin-left: 0px !important;
    
}
.links:hover{
    text-decoration: none;
    color:#d6d4d4;
    margin-left: 0px !important;
}

.links_dark {
    text-decoration: none;
    color:#d6d4d4;
    margin-left: 0px !important;
    
}
.links_dark:hover{
    text-decoration: none;
    color:#d6d4d4;
    margin-left: 0px !important;
}

.bar_radius {
    border-radius: 50px !important;

}

.bar_position{
    margin-bottom: 1rem;
}

.bar_colour{
    background-color: #08A6A1 !important;
    font-weight: 700;
}

.subtitle_format {
    font-size: 16px;
}
.texts_block{
    color: #08A6A1;
}
.texts_block:link{
    color: #08A6A1;    
}

.texts_block:visited {
    color: #08A6A1;    
}

.icons_color{
    color: #08A6A1;
    margin-right: 10px;
}

.icons_size{
    width: 15px !important;
    margin-right: 10px !important;
}

.w10{
    width: 10%; 
}

.f-left{    
    float: left;
}
.w90 {
    width: 90%; 
}

.mb5 {
    margin-bottom: 5px;
}

.button_projects {
    background-color: #08A6A1;
    border-radius: 50px; 
    padding: 3px 8px 3px 8px;
    color: aliceblue; 
    margin-right: 15px;
    font-size: small;
}


@media (max-width: 767px) {
    .margin {
      padding: 0 !important;
    }
  }

