html,
body,
h1,
h2,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif, Arial, Helvetica;
    color: aliceblue;
}

h3 {
    font-family: "Roboto", sans-serif, Arial, Helvetica;
    color: aliceblue;
    margin-bottom: 25px !important; 
}
p,a {
    color: aliceblue;
    font-size: small;
    font-family: "Roboto", sans-serif, Arial, Helvetica;
}

.main_photo {
    width: 100%;
}

.hr {
    border-color: #514f4f !important;
  }

.blocks_format{
    background-color: #313131;
    width: 100%
}

.links:link {
    text-decoration: none;
    color: aliceblue;
    margin-left: 0px !important;
    

}
.links:visited {
    text-decoration: none;
    color: aliceblue;    
}

.bar_radius {
    border-radius: 50px !important;

}

.bar_position{
    margin-bottom: 1rem;
}

.bar_colour{
    background-color: #08A6A1 !important;
}

.subtitle_format {
    font-size: 16px;
    font-weight: 500;
}
.texts_block{
    color: #08A6A1;
}
.texts_block:link{
    color: #08A6A1;    
}

.texts_block:visited {
    color: #08A6A1;    
}

.icons_color{
    color: #08A6A1;
    margin-right: 10px;
}

.icons_size{
    width: 15px !important;
    margin-right: 10px !important;
}

.button_projects {
    background-color: #08A6A1;
    border-radius: 50px; 
    padding: 8px ; 
    color: aliceblue; 
    margin-right: 15px;
    font-size: small;
}

